<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    Cuadrangular
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <div class="card-title">Tabla</div>
      <ul class="list-group">
        <li
        *ngFor="let team of listaTeams"
        class="list-group-item list-group-item-action">
          {{ team.name }} -- {{team.points}} || {{team.goalFavor}} || {{team.goalContra}} || {{team.goalFavor-team.goalContra}}
      </li>
      </ul>
      <div class="card mt-4">
        <div class="card-title">Resultados</div>
        <ul class="list-group">
          <li
          *ngFor="let resultado of listaResultados"
          class="list-group-item">
          {{ resultado }}
        </li>
        </ul>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Acciones
          </div>
          <button id="botonSimular" (click)="ejecutarTorneo()" class="btn btn-primary">Simular</button>
          <button (click)="reiniciarTorneo()" class="btn btn-primary">Reiniciar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <img width="250" alt="Balon logo" src="https://cdn.pixabay.com/photo/2019/06/30/21/08/balloon-4308798_960_720.png">
    </div>
  </div>
</div>